<div class="TaskViewComponent">
  <div class="Task">
    <div class="Submit" (click)="onToggleStatus()">
      <label>{{ getUnicodeStatus(task) }}</label>
    </div>
    <div class="task-container">
      <div class="Info">
        <div class="InlineBlock">Task: {{ task.title }}</div>
        <button class="Status" (click)="onToggleDetails()">Read More</button>
      </div>
      <div *ngIf="expanded" class="description">
        <span>{{ task.description }}</span>
      </div>
    </div>
  </div>
</div>
